body{
    background-color: #c3f4f5;
}
#titel-text, #text{
    text-align: center;
    font-family: Arial;
    font-style: normal;
    color: #667475;

}
legend{
    padding: 10px; /* Lege ruimte in de element */
    background-color: #008C93;
    color: #e9f1f1;
}
form{
    margin: auto;
    width: 500px;
}
fieldset{
    padding: 50px; /*lege ruimtes in de fieldsets */
    border: 3px solid #008C93; /* dikte, lijn, kleur */
    border-radius: 7px;
    background-color: #96D2D3;
    color: white;
    height: 300px;
}

#volgende {
    position: absolute;
    right: 660px;
    bottom: 300px;
    width: 150px;
    color: #f6f2f2;
    background-color: #008C93;
}
#terug {
    position: absolute;
    bottom: 300px;
    width: 150px;
    color: #f6f2f2;
    background-color: #008C93;
}