
.was-validated{
    display: none;
}

.register-form-signup {
    margin: 0 auto;
    max-width: 400px;
    padding: 15px;
}

.register-form-signup h2 {
    text-align: center;
}

.register-btn{
    min-width: 380px;
}


#stepBol{
    text-align: center;
    margin-bottom: 5px;
}

.is-invalid {
    border-color: red;
}

.error{
    border: red;

}