
.planningSection{
    /*background-color: #dadada;*/
}

#titleWeekPlanning, #titleMonthPlanning{
    border-radius: 30px;
    background-color: #008E8A;
    color: white;
    width: 200px;
}

.containerDiv{
    border-radius: 50px;
    margin: 20px;
    width: 400px;
    height: 200px;
    border: 1px solid #919090;
    background-color: #96D2D3;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);

}

.dateplanningDiv{
   text-align: center;
}

.deleteButtonPlanning{
    position: relative;
    border-radius: 40px;
    width: 150px;
    display: grid;
    top: 67px;
    left: 40px;
}

.completeButtonPlanning{
    position: relative;
    border-radius: 40px;
    width: 150px;
    display: grid;
    top: 30px;
    left: 200px;
}

.dayActivity{
    text-align: center;
    margin: 20px;
    font-size: 20px;
    display: flow;
}