
.planningSection{
    /*background-color: #dadada;*/
}

.containerDiv{
    border-radius: 10px;
    margin: 10px;
    /*display: block;*/
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 200px;
    border: 1px solid #919090;
    background-color: #008E8A;
    /*margin: 10px 0;*/
}

/* .dayBox{*/
/*    width: 500px;*/
/*    height: 100px;*/
/*    margin: 10px;*/

/*}*/

.deleteButtonPlanning{
    border-radius: 50px;
}

.completeButtonPlanning{
    border-radius: 50px;
}