footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: #2F72B9;
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #cbbde2;
}

.questionContainer {
    min-height: fit-content;
    height: 70vh;
}

.profilesection{
    background-color: #008C93;
}

.card{
    border-width: 4px;
    border-color: #008C93;
}


.colProfile{
    position: relative;
    top: -30px;
}

.profielFoto{
    width: 100px;
    height: 100px;
    border: white 3px solid;
}

.buttonWijzig{
    background-color: rgba(0, 64, 67, 1);
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.container-editProfile{
    margin: 0 auto;
    padding: 15px;
}

.divForm{
    border-radius: 20px;
    margin-top: 10px;
    width: 400px;
}

.formEditProfile{
    margin-bottom: 50px;
}

.inputFieldEditProfileWithLabel{
    display: flex;
    flex-direction: column;
}

.inputFieldEditProfile{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.inputFieldEditProfile:focus{
    border: 2px solid #008C93;
    border-bottom-width: 3px;
}

#imagePreview{
    min-height: 190px;
    max-height: 190px;
    min-width: 190px;
    max-width: 190px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    border: 18px solid #008C93;
}

#choosePhoto {
    margin-top: 15px;
    padding: 15px;
    border-radius: 30px;
    background: #008C93;
    color: white;
    width: 190px;
    text-align: center;
}

#InputProfileImage{
    display: none;
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

