html{
    overflow-x: hidden;
}

section{
    background-color: #008C93;
}

.col{
    position: relative;
    top: -30px;
}

.profielFoto{
    width: 100px;
    height: 100px;
    border: white 3px solid;
}